In [1]:
import numpy as np
from pygmid import Lookup
from pygmid import Lookup as lk
import pandas as pd

In [2]:
n = lk('Chipathon2025/lookup_tables/nfet_03v3.mat')
p = lk('Chipathon2025/lookup_tables/pfet_03v3.mat')

n = lk('Chipathon2025/lookbup_tables/nfet_03v3.mat')
p = lk('Chipathon2025/lookup_tables/pfet_03v3.mat')

In [3]:
## Sizing for Source follower circuit
gm = 62.8e-3 # based on calculation 
gm_id = np.array([5, 8, 10, 20])

l = 0.28

id = gm/gm_id
jd = n.lookup('ID_W', GM_ID=gm_id, L=l)
w = id/jd

cgg_w = n.lookup('CGG_W', GM_ID=gm_id, L=l)
cgg = w*cgg_w
ft = gm/cgg/2/np.pi

df = pd.DataFrame([gm_id, id, jd, w, cgg, ft], ['gm_id', 'id', 'jd', 'w', 'cgg', 'ft'], columns=[f'gm-id: {gm_id[i]}' for i in range(len(gm_id))]); 
df

## Suggestion is to go for gm-id = 8 # please help validate

           gm-id: 5      gm-id: 8     gm-id: 10     gm-id: 20
gm_id  5.000000e+00  8.000000e+00  1.000000e+01  2.000000e+01
id     1.256000e-02  7.850000e-03  6.280000e-03  3.140000e-03
jd     2.539270e-05  1.109116e-05  6.847242e-06  4.903808e-07
w      4.946304e+02  7.077709e+02  9.171576e+02  6.403187e+03
cgg    5.813529e-13  7.987930e-13  1.007279e-12  6.017156e-12
ft     1.719253e+10  1.251254e+10  9.922699e+09  1.661072e+09

In [4]:
# Sizing for nfets in OTA
gm_ota = 210e-6 # from calculation

l = 0.28
gm_id = np.array([5, 8, 10, 15, 20])
id_ota = gm_ota/gm_id
jd = n.lookup('ID_W', GM_ID=gm_id, L=l)
w = id_ota/jd

cgg_w = n.lookup('CGG_W', GM_ID=gm_id, L=l)
cgg = w*cgg_w
ft = gm_ota/cgg/2/np.pi

df = pd.DataFrame([gm_id, id_ota, jd, w, cgg, ft], ['gm_id', 'id', 'jd', 'w', 'cgg', 'ft'], columns=[f'gm-id: {gm_id[i]}' for i in range(len(gm_id))]); 
df

## Suggestion is to go for gm-id = 15 # please help validate

           gm-id: 5      gm-id: 8     gm-id: 10     gm-id: 15     gm-id: 20
gm_id  5.000000e+00  8.000000e+00  1.000000e+01  1.500000e+01  2.000000e+01
id     4.200000e-05  2.625000e-05  2.100000e-05  1.400000e-05  1.050000e-05
jd     2.539270e-05  1.109116e-05  6.847242e-06  2.097482e-06  4.903808e-07
w      1.654019e+00  2.366750e+00  3.066928e+00  6.674671e+00  2.141193e+01
cgg    1.944015e-15  2.671123e-15  3.368291e-15  6.832487e-15  2.012106e-14
ft     1.719253e+10  1.251254e+10  9.922699e+09  4.891709e+09  1.661072e+09

In [5]:
# Sizing for pfets in OTA
gm_ota = 210e-6 # from calculation

l = 0.28
gm_id = np.array([5, 8, 10, 15, 20])
id_ota = gm_ota/gm_id
jd = p.lookup('ID_W', GM_ID=gm_id, L=l)
w = id_ota/jd

cgg_w = n.lookup('CGG_W', GM_ID=gm_id, L=l)
cgg = w*cgg_w
ft = gm_ota/cgg/2/np.pi

df = pd.DataFrame([gm_id, id_ota, jd, w, cgg, ft], ['gm_id', 'id', 'jd', 'w', 'cgg', 'ft'], columns=[f'gm-id: {gm_id[i]}' for i in range(len(gm_id))]); 
df

           gm-id: 5      gm-id: 8     gm-id: 10     gm-id: 15     gm-id: 20
gm_id  5.000000e+00  8.000000e+00  1.000000e+01  1.500000e+01  2.000000e+01
id     4.200000e-05  2.625000e-05  2.100000e-05  1.400000e-05  1.050000e-05
jd     9.824398e-06  4.164968e-06  2.585008e-06  8.122337e-07  1.658700e-07
w      4.275071e+00  6.302570e+00  8.123767e+00  1.723642e+01  6.330260e+01
cgg    5.024611e-15  7.113105e-15  8.922024e-15  1.764396e-14  5.948625e-14
ft     6.651767e+09  4.698727e+09  3.746071e+09  1.894277e+09  5.618532e+08